body {
  font-family: PTSans;
  font-size:14px;
  line-height:21px;
  color:333333;
  font-weight:normal;
}

h1 {
  font-size: 21px;
  font-weight:bold;
  color:000000;
  line-height: 26px;
}

h2 {
  font-size: 21px;
  font-weight:bold;
  color:000000;
}